<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Movies Show</title>
</head>

<body>
<table border="1">
    <thead>
    <tr>
        <th>Start date</th>
        <th>End date</th>
        <th>Original title</th>
        <th>Hall number</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="movieShow : ${movieShowsList}">
        <td th:text="${movieShow.startMovieDate}"/>
        <td th:text="${movieShow.endMovieDate}"/>
        <td th:text="${movieShow.movie.originalTitle}"/>
        <td th:text="${movieShow.cinemaHall.hallNumber}"/>
    </tr>
    </tbody>
</table>

<hr>
<a th:href="@{/}">Back to main page.</a><br>

</body>

</html>